Génération de contrat de location_Marida.json
{
  "name": "Génération de contrat de location_Marida",
  "nodes": [
    {
      "parameters": {
        "path": "6c53824e-7be5-4ed1-a38e-fc6c63774b0e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        752
      ],
      "id": "94b4896a-cc26-4fdc-a901-5b8290e0c038",
      "name": "Webhook",
      "webhookId": "6c53824e-7be5-4ed1-a38e-fc6c63774b0e"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{Nom_client}}",
              "replaceText": "={{ $('Airtable').item.json.Nom }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Prénom_client}}",
              "replaceText": "={{ $('Airtable').item.json['Prénom'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Tel_client}}",
              "replaceText": "={{ $('Airtable').item.json['Téléphone'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Mail_client}}",
              "replaceText": "={{ $('Airtable').item.json.Mail }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Date_début_location}}",
              "replaceText": "={{ (() => {\n  const date = new Date($('Airtable').item.json['Date début de location']);\n  const d = String(date.getDate()).padStart(2, '0');\n  const m = String(date.getMonth() + 1).padStart(2, '0');\n  const y = date.getFullYear();\n  return `${d}-${m}-${y}`;\n})() }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Date_fin_location}}",
              "replaceText": "={{ (() => {\n  const date = new Date($('Airtable').item.json['Date fin de location']);\n  const d = String(date.getDate()).padStart(2, '0');\n  const m = String(date.getMonth() + 1).padStart(2, '0');\n  const y = date.getFullYear();\n  return `${d}-${m}-${y}`;\n})() }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Loyer}}",
              "replaceText": "={{ $('Airtable').item.json.Loyer }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Taxe_sejour}}",
              "replaceText": "={{ $('Airtable').item.json['Taxe de séjour'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Ménage}}",
              "replaceText": "={{ $('Airtable').item.json['Ménage'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Acompte}}",
              "replaceText": "={{ $('Airtable').item.json['Acompte '] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Jour_arrivé}}",
              "replaceText": "={{ $('Airtable').item.json['Jour arrivé CGV'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Heure_arrivé}}",
              "replaceText": "={{ $('Airtable').item.json['Heure arrivé CGV'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Jour_départ}}",
              "replaceText": "={{ $('Airtable').item.json['Jour départ CGV'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Heure_départ}}",
              "replaceText": "={{ $('Airtable').item.json['Heure départ CGV'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Rue}}",
              "replaceText": "={{ $('Airtable').item.json.Rue }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Code_postal}}",
              "replaceText": "={{ $('Airtable').item.json['Code postal'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Ville}}",
              "replaceText": "={{ $('Airtable').item.json.Ville }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1168,
        752
      ],
      "id": "84631012-ae7c-49af-ac8c-cead2b009422",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "kCvmGQr2K5qRbYbQ",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "name": "=Contrat de location_{{ $('Airtable').item.json.Nom  }}{{ $('Airtable').item.json['Prénom'] }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1keNh6CvAHygbblljOxFAA-ArJi_poK8V",
          "mode": "list",
          "cachedResultName": "Contrat de location CLIENT",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1keNh6CvAHygbblljOxFAA-ArJi_poK8V"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1600,
        752
      ],
      "id": "8251e04d-c63a-4f02-a5f0-af34f6a279f5",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sttD5xD3T79Hf4C3",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "content": "## ⚙️ Génération du contrat\n*Le contrat de location est créé à partir des informations stockées dans le CRM Airtable*",
        "height": 300,
        "width": 2240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        624
      ],
      "id": "a31f03e2-a78c-4508-ae91-7ebba30c51ff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "path": "da4ecae2-e8ea-4a00-bf10-1f3a081943fb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        1200
      ],
      "id": "d57dcb50-5b97-40a8-bb24-449b22846f95",
      "name": "Webhook1",
      "webhookId": "da4ecae2-e8ea-4a00-bf10-1f3a081943fb"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appon1LDVhe64l4sn",
          "mode": "list",
          "cachedResultName": "CRM_Gîte_Marida",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn"
        },
        "table": {
          "__rl": true,
          "value": "tblTl25vnyJjTgS3o",
          "mode": "list",
          "cachedResultName": "Contrat de location",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn/tblTl25vnyJjTgS3o"
        },
        "id": "={{ $json.query.record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        464,
        1200
      ],
      "id": "d789ae87-2e10-47d4-8928-401180769fdd",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "vdwxUJeIvv9voBeS",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Airtable1').all()[0].json.Mail }}",
        "subject": "🖋️ À signer - Contrat location Clos du Marida ",
        "message": "=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Confirmation de réservation – Le Clos du Marida</title>\n  <style>\n    @media only screen and (max-width: 600px) {\n      .email-wrapper { padding: 0 !important; }\n      .email-container { width: 100% !important; }\n      .email-header, .email-footer { padding: 24px 16px !important; border-radius: 0 !important; }\n      .email-banner { padding: 14px 16px !important; }\n      .email-banner-date { font-size: 17px !important; }\n      .email-body { padding: 24px 16px !important; }\n      h1 { font-size: 21px !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#ffffff;font-family:Georgia,'Times New Roman',serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff;padding:30px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table class=\"email-container\" width=\"620\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:620px;width:100%;\">\n\n          <!-- HEADER -->\n          <tr>\n            <td class=\"email-header\" style=\"background-color:#1e1e1e;padding:36px 40px 28px 40px;text-align:center;border-radius:8px 8px 0 0;\">\n              <p style=\"margin:0 0 6px 0;font-family:Georgia,serif;font-size:11px;letter-spacing:4px;text-transform:uppercase;color:#c8622a;\">Le Clos du Marida</p>\n              <h1 style=\"margin:0 0 6px 0;font-family:Georgia,serif;font-size:26px;font-weight:normal;color:#ffffff;letter-spacing:1px;\">Confirmation de réservation</h1>\n              <p style=\"margin:0;font-family:Georgia,serif;font-size:13px;color:#888888;letter-spacing:1px;font-style:italic;\">Gîte de groupe – Haute-Loire</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:22px;\">\n                <tr>\n                  <td style=\"border-top:1px solid rgba(200,98,42,0.3);\"></td>\n                  <td style=\"padding:0 12px;white-space:nowrap;color:#c8622a;font-size:14px;\">✦</td>\n                  <td style=\"border-top:1px solid rgba(200,98,42,0.3);\"></td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- DATES BANNER -->\n          <tr>\n            <td class=\"email-banner\" style=\"background-color:#c8622a;padding:16px 40px;text-align:center;\">\n              <p style=\"margin:0;font-family:Georgia,serif;font-size:12px;letter-spacing:3px;text-transform:uppercase;color:#ffffff;opacity:0.85;\">Séjour du</p>\n              <p class=\"email-banner-date\" style=\"margin:4px 0 0 0;font-family:Georgia,serif;font-size:20px;color:#ffffff;font-weight:bold;letter-spacing:1px;\">{{ (() => {\n  const date = new Date($('Airtable1').all()[0].json['Date début de location']);\n  return `${String(date.getDate()).padStart(2, '0')}-${String(date.getMonth() + 1).padStart(2, '0')}-${date.getFullYear()}`;\n})() }} &nbsp;→&nbsp; {{ (() => {\n  const date = new Date($('Airtable1').all()[0].json['Date fin de location']);\n  return `${String(date.getDate()).padStart(2, '0')}-${String(date.getMonth() + 1).padStart(2, '0')}-${date.getFullYear()}`;\n})() }}</p>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td class=\"email-body\" style=\"background-color:#242424;padding:36px 40px 32px 40px;\">\n\n              <p style=\"margin:0 0 20px 0;font-family:Georgia,serif;font-size:16px;color:#e8e8e8;line-height:1.6;\">Bonjour,</p>\n              <p style=\"margin:0 0 24px 0;font-family:Georgia,serif;font-size:15px;color:#b8b8b8;line-height:1.8;\">\n                Veuillez trouver ci-joints le <strong style=\"color:#e8e8e8;\">contrat de location</strong> pour la période du\n                <strong style=\"color:#e8e8e8;\">{{ (() => {\n  const date = new Date($('Airtable1').all()[0].json['Date début de location']);\n  return `${String(date.getDate()).padStart(2, '0')}-${String(date.getMonth() + 1).padStart(2, '0')}-${date.getFullYear()}`;\n})() }}</strong> au <strong style=\"color:#e8e8e8;\">{{ (() => {\n  const date = new Date($('Airtable1').all()[0].json['Date fin de location']);\n  return `${String(date.getDate()).padStart(2, '0')}-${String(date.getMonth() + 1).padStart(2, '0')}-${date.getFullYear()}`;\n})() }}</strong>, son descriptif ainsi que les <strong style=\"color:#e8e8e8;\">conditions générales</strong>. Merci de bien vouloir nous retourner l'ensemble <strong style=\"color:#e8e8e8;\">signé</strong>.\n              </p>\n\n              <!-- Divider -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:24px 0;\">\n                <tr><td style=\"border-top:1px solid #333333;\"></td></tr>\n              </table>\n\n              <!-- Finaliser -->\n              <p style=\"margin:0 0 14px 0;font-family:Georgia,serif;font-size:12px;letter-spacing:3px;text-transform:uppercase;color:#c8622a;\">Finaliser votre réservation</p>\n              <p style=\"margin:0 0 16px 0;font-size:14px;color:#aaaaaa;font-family:Arial,sans-serif;line-height:1.6;\">Deux options s'offrent à vous :</p>\n\n              <!-- Option 1 — pleine largeur -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:12px;\">\n                <tr>\n                  <td style=\"background-color:#2e2e2e;border:1px solid #3a3a3a;border-radius:6px;border-top:3px solid #c8622a;padding:18px 20px;\">\n                    <p style=\"margin:0 0 10px 0;font-family:Georgia,serif;font-size:14px;font-weight:bold;color:#e8e8e8;\">📧 Par e-mail</p>\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr><td style=\"padding:4px 0;font-family:Arial,sans-serif;font-size:13px;color:#aaaaaa;line-height:1.6;\">\n                        <span style=\"color:#c8622a;margin-right:8px;\">›</span>Retourner les documents signés (scannés)\n                      </td></tr>\n                      <tr><td style=\"padding:4px 0;font-family:Arial,sans-serif;font-size:13px;color:#aaaaaa;line-height:1.6;\">\n                        <span style=\"color:#c8622a;margin-right:8px;\">›</span>Effectuer le virement d'acompte au RIB ci-joint\n                      </td></tr>\n                      <tr><td style=\"padding:4px 0;font-family:Arial,sans-serif;font-size:13px;color:#aaaaaa;line-height:1.6;\">\n                        <span style=\"color:#c8622a;margin-right:8px;\">›</span>Joindre le reçu du virement\n                      </td></tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Option 2 — pleine largeur -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td style=\"background-color:#2e2e2e;border:1px solid #3a3a3a;border-radius:6px;border-top:3px solid #555555;padding:18px 20px;\">\n                    <p style=\"margin:0 0 10px 0;font-family:Georgia,serif;font-size:14px;font-weight:bold;color:#e8e8e8;\">✉️ Par courrier postal</p>\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr><td style=\"padding:4px 0;font-family:Arial,sans-serif;font-size:13px;color:#aaaaaa;line-height:1.6;\">\n                        <span style=\"color:#c8622a;margin-right:8px;\">›</span>Envoyer les documents signés à l'adresse indiquée sur le contrat\n                      </td></tr>\n                      <tr><td style=\"padding:4px 0;font-family:Arial,sans-serif;font-size:13px;color:#aaaaaa;line-height:1.6;\">\n                        <span style=\"color:#c8622a;margin-right:8px;\">›</span>Accompagner le tout d'un chèque d'acompte\n                      </td></tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Divider -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:24px 0;\">\n                <tr><td style=\"border-top:1px solid #333333;\"></td></tr>\n              </table>\n\n              <!-- Capacité -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#2a2a2a;border-left:4px solid #c8622a;border-radius:0 6px 6px 0;margin-bottom:28px;\">\n                <tr>\n                  <td style=\"padding:16px 20px;\">\n                    <p style=\"margin:0 0 6px 0;font-family:Georgia,serif;font-size:13px;font-weight:bold;color:#e8e8e8;letter-spacing:1px;\">🏡 Capacité d'accueil</p>\n                    <p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#aaaaaa;line-height:1.7;\">Le logement peut accueillir <strong style=\"color:#e8e8e8;\">12 personnes + 1 bébé maximum</strong>. Pour des raisons d'assurance, aucune personne supplémentaire ne pourra être acceptée.</p>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Options sur place -->\n              <p style=\"margin:0 0 14px 0;font-family:Georgia,serif;font-size:12px;letter-spacing:3px;text-transform:uppercase;color:#c8622a;\">Options disponibles sur place</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td style=\"padding:11px 0;border-bottom:1px solid #333333;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n                      <td style=\"font-family:Arial,sans-serif;font-size:13px;color:#b8b8b8;line-height:1.5;\">🛁 Espace bain nordique avec cheminée extérieure et enceinte Bluetooth</td>\n                      <td align=\"right\" style=\"font-family:Georgia,serif;font-size:14px;color:#c8622a;font-weight:bold;white-space:nowrap;padding-left:12px;\">120 € / soirée</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:11px 0;border-bottom:1px solid #333333;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n                      <td style=\"font-family:Arial,sans-serif;font-size:13px;color:#b8b8b8;\">🐴 Balade en calèche à la ferme</td>\n                      <td align=\"right\" style=\"font-family:Georgia,serif;font-size:14px;color:#c8622a;font-weight:bold;white-space:nowrap;padding-left:12px;\">60 €</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:11px 0;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n                      <td style=\"font-family:Arial,sans-serif;font-size:13px;color:#b8b8b8;line-height:1.5;\">🍯 Vente de viande et de miel de notre production <em style=\"color:#777777;\">(selon stocks disponibles)</em></td>\n                      <td align=\"right\" style=\"font-family:Georgia,serif;font-size:14px;color:#c8622a;font-weight:bold;white-space:nowrap;padding-left:12px;\">Sur place</td>\n                    </tr></table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Validation -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#2e2e2e;border:1px solid #3a3a3a;border-radius:6px;margin-bottom:28px;\">\n                <tr>\n                  <td style=\"padding:18px 20px;\">\n                    <p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#aaaaaa;line-height:1.7;\">\n                      <span style=\"color:#c8622a;font-weight:bold;\">ℹ️ Validation de la réservation</span><br>\n                      Votre réservation sera validée uniquement à réception de l'<strong style=\"color:#ffffff;\">acompte</strong> et après retour du <strong style=\"color:#ffffff;\">contrat signé</strong> de notre part.\n                    </p>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 6px 0;font-family:Georgia,serif;font-size:15px;color:#b8b8b8;line-height:1.8;\">N'hésitez pas à nous contacter si vous avez la moindre question.</p>\n              <p style=\"margin:0;font-family:Georgia,serif;font-size:15px;color:#b8b8b8;font-style:italic;\">Bien cordialement,</p>\n\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td class=\"email-footer\" style=\"background-color:#1e1e1e;padding:26px 40px;border-radius:0 0 8px 8px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr valign=\"middle\">\n                  <td>\n                    <p style=\"margin:0 0 2px 0;font-family:Georgia,serif;font-size:16px;color:#ffffff;\">Valériane &amp; Hervé Loubier</p>\n                    <p style=\"margin:0 0 10px 0;font-family:Arial,sans-serif;font-size:12px;color:#c8622a;letter-spacing:2px;text-transform:uppercase;\">Le Clos du Marida</p>\n                    <p style=\"margin:0 0 3px 0;font-family:Arial,sans-serif;font-size:12px;color:#888888;\">📞 07 67 42 21 80</p>\n                    <p style=\"margin:0 0 3px 0;font-family:Arial,sans-serif;font-size:12px;color:#888888;\">📍 35 rue de la Calage, 43340 Saint-Christophe-d'Allier</p>\n                    <p style=\"margin:6px 0 0 0;\"><a href=\"https://leclosdumarida.fr/\" style=\"font-family:Arial,sans-serif;font-size:12px;color:#c8622a;text-decoration:none;\">🌐 leclosdumarida.fr</a></p>\n                  </td>\n                  <td align=\"right\" style=\"padding-left:16px;\">\n                    <div style=\"width:56px;height:56px;border-radius:50%;background-color:rgba(200,98,42,0.15);border:2px solid #c8622a;display:inline-block;text-align:center;line-height:52px;font-size:22px;\">🏡</div>\n                  </td>\n                </tr>\n              </table>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:18px;\">\n                <tr>\n                  <td style=\"border-top:1px solid #333333;padding-top:14px;\">\n                    <p style=\"margin:0;font-family:Arial,sans-serif;font-size:11px;color:#555555;text-align:center;line-height:1.6;\">\n                      Ce message est confidentiel et destiné uniquement à son destinataire.<br>\n                      © 2026 Le Clos du Marida – Tous droits réservés.\n                    </p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "file1"
              },
              {
                "property": "file2"
              },
              {
                "property": "file3"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1808,
        1200
      ],
      "id": "b02b3be8-f704-44d1-80bf-45ade2ebb9ca",
      "name": "Gmail",
      "webhookId": "4b15ab93-5c54-43e3-83ab-e775cc8678db",
      "credentials": {
        "gmailOAuth2": {
          "id": "MZb02vfi8XmD5rkv",
          "name": "Gmail Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ (() => {\n  const nom = $json[\"Nom\"] || \"\";\n  const prenom = $json[\"Prénom\"] || \"\";\n  return `${nom.trim()} ${prenom.trim()}`; // Espace entre les deux\n})() }}",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        1008
      ],
      "id": "1455710a-be91-43d4-9c39-9d3d66ff4e3c",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sttD5xD3T79Hf4C3",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        1008
      ],
      "id": "5f6ecef4-a3c3-46d8-b420-71a424165cac",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sttD5xD3T79Hf4C3",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📧 Envoi du contrat par mail\n*Le contrat de location est envoyé au client par email, en attente de signature*",
        "height": 640,
        "width": 2240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        960
      ],
      "id": "6636162b-fbb2-4c71-a259-f690c9cc2960",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appon1LDVhe64l4sn",
          "mode": "list",
          "cachedResultName": "CRM_Gîte_Marida",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn"
        },
        "table": {
          "__rl": true,
          "value": "tblTl25vnyJjTgS3o",
          "mode": "list",
          "cachedResultName": "Contrat de location",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn/tblTl25vnyJjTgS3o"
        },
        "id": "={{ $json.query.record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1488,
        432
      ],
      "id": "72cef1cf-e45a-457b-88c0-6ba67e669751",
      "name": "Airtable2",
      "credentials": {
        "airtableTokenApi": {
          "id": "vdwxUJeIvv9voBeS",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "lancelotautomotion@gmail.com",
          "mode": "list",
          "cachedResultName": "lancelotautomotion@gmail.com"
        },
        "start": "={{ $json['Date début de location'] }}",
        "end": "={{ $json['Date fin de location'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1712,
        432
      ],
      "id": "ac5fc363-a522-4f83-8a95-a68bb9d9c121",
      "name": "Google Calendar",
      "retryOnFail": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "E7vLStRfOrZjOkSA",
          "name": "Calendar PRO"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 🗓️ Création de l'event Google Calendar.\n*Un event est créé sur les dates de location*",
        "height": 280,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        304
      ],
      "id": "a8f67a0d-d18f-4435-b0e2-95918a355b7f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "rib gite",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        1200
      ],
      "id": "a4eeafc5-02b8-44f3-aeed-e034930f84c1",
      "name": "Google Drive4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sttD5xD3T79Hf4C3",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        1200
      ],
      "id": "690ea7aa-0323-42ff-8cb7-3c78857fdcf4",
      "name": "Google Drive5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sttD5xD3T79Hf4C3",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1360,
        1200
      ],
      "id": "6b7011a5-5940-48bd-8dd8-1c70e133ceb6",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...items[0].json,\n      ...items[1].json,\n      ...items[2].json,\n    },\n    binary: {\n      file1: items[0].binary.data,\n      file2: items[1].binary.data,\n      file3: items[2].binary.data\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        1200
      ],
      "id": "8413a874-b49a-47bc-991e-17fcfebe31ea",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appon1LDVhe64l4sn",
          "mode": "list",
          "cachedResultName": "CRM_Gîte_Marida",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn"
        },
        "table": {
          "__rl": true,
          "value": "tblTl25vnyJjTgS3o",
          "mode": "list",
          "cachedResultName": "Contrat de location",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn/tblTl25vnyJjTgS3o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable').all()[0].json.id }}",
            "Contrat": "Généré"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date début de location",
              "displayName": "Date début de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date fin de location",
              "displayName": "Date fin de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Loyer",
              "displayName": "Loyer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Acompte ",
              "displayName": "Acompte ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Taxe de séjour",
              "displayName": "Taxe de séjour",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ménage",
              "displayName": "Ménage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bain nordique",
              "displayName": "Bain nordique",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 160x200",
              "displayName": "Drap 160x200",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 90x190",
              "displayName": "Drap 90x190",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linge de toilette",
              "displayName": "Linge de toilette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour arrivé CGV",
              "displayName": "Jour arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure arrivé CGV",
              "displayName": "Heure arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "10h00",
                  "value": "10h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour départ CGV",
              "displayName": "Jour départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure départ CGV",
              "displayName": "Heure départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "10h00",
                  "value": "10h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Générer un contrat_",
              "displayName": "Générer un contrat_",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contrat",
              "displayName": "Contrat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Généré",
                  "value": "Généré"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Envoyer contrat au client",
              "displayName": "Envoyer contrat au client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Mail au client",
              "displayName": "Mail au client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Envoyé",
                  "value": "Envoyé"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2048,
        752
      ],
      "id": "c4427036-4f76-4a17-9fca-f4fa0cefe0c8",
      "name": "Airtable3",
      "credentials": {
        "airtableTokenApi": {
          "id": "vdwxUJeIvv9voBeS",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appon1LDVhe64l4sn",
          "mode": "list",
          "cachedResultName": "CRM_Gîte_Marida",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn"
        },
        "table": {
          "__rl": true,
          "value": "tblTl25vnyJjTgS3o",
          "mode": "list",
          "cachedResultName": "Contrat de location",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn/tblTl25vnyJjTgS3o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable1').all()[0].json.id }}",
            "Mail au client": "Envoyé"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date début de location",
              "displayName": "Date début de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date fin de location",
              "displayName": "Date fin de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Loyer",
              "displayName": "Loyer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Acompte ",
              "displayName": "Acompte ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Taxe de séjour",
              "displayName": "Taxe de séjour",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ménage",
              "displayName": "Ménage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bain nordique",
              "displayName": "Bain nordique",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 160x200",
              "displayName": "Drap 160x200",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 90x190",
              "displayName": "Drap 90x190",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linge de toilette",
              "displayName": "Linge de toilette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour arrivé CGV",
              "displayName": "Jour arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure arrivé CGV",
              "displayName": "Heure arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "10h00",
                  "value": "10h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour départ CGV",
              "displayName": "Jour départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure départ CGV",
              "displayName": "Heure départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "10h00",
                  "value": "10h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Générer un contrat_",
              "displayName": "Générer un contrat_",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contrat",
              "displayName": "Contrat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Généré",
                  "value": "Généré"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Envoyer contrat au client",
              "displayName": "Envoyer contrat au client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Mail au client",
              "displayName": "Mail au client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Envoyé",
                  "value": "Envoyé"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2032,
        1200
      ],
      "id": "734c69e7-5f77-48f7-ad1c-979e2b230d25",
      "name": "Airtable5",
      "credentials": {
        "airtableTokenApi": {
          "id": "vdwxUJeIvv9voBeS",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<script>\n  window.close();\n</script>\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        288,
        752
      ],
      "id": "8a97634b-f0a0-4715-9e55-f09de6ed6dfd",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<script>\n  window.close();\n</script>",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        288,
        1200
      ],
      "id": "4319b619-96ca-44fb-8b53-fba4d3468460",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        80,
        112
      ],
      "id": "6cdc2724-fe6b-432f-970d-7de6af51ed9b",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "lancelotautomotion@gmail.com",
        "subject": "🔴 Error workflow❗",
        "message": "=Bonjour,\n<br><br>\nErreur détectée sur le workflow suivant : \n<br><br>\n❌ <b>Génération de contrat de location_Marida</b>\n<br><br>\n➡️ {{ $json.execution.url }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        304,
        112
      ],
      "id": "d85a66a4-83c5-4339-a975-987fd32dd4e6",
      "name": "Gmail3",
      "webhookId": "d806f54a-e44f-44b1-bb34-17df2e172144",
      "credentials": {
        "gmailOAuth2": {
          "id": "RCXvoNNHXANGRwTP",
          "name": "Gmail PRO"
        }
      }
    },
    {
      "parameters": {
        "content": "## ❌ Gestion des erreurs\n*Un mail d'alerte est envoyé à l'administrateur lorsqu'une erreur est détectée sur un workflow.*",
        "height": 280,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "ed0e50be-6426-43f9-83de-1f4ff6a1bdc8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Photos_Gite.pdf",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        1408
      ],
      "id": "b4e24e31-9fe4-43e8-bb89-f7961fa1bc66",
      "name": "Google Drive6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sttD5xD3T79Hf4C3",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        1408
      ],
      "id": "f46431f7-02a8-4a8d-bb83-0d86f4639c26",
      "name": "Google Drive7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sttD5xD3T79Hf4C3",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Docs').item.json.documentId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1824,
        752
      ],
      "id": "95c2ec87-6893-4146-961b-4d2d222f2c2b",
      "name": "Google Drive8",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sttD5xD3T79Hf4C3",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1YVny7v79gQm0Pej-4aH4w6AVW6Q4stzD9HZAlupxZ_8",
          "mode": "list",
          "cachedResultName": "template_Contrat_de_location_Le_Clos_du_Marida",
          "cachedResultUrl": "https://docs.google.com/document/d/1YVny7v79gQm0Pej-4aH4w6AVW6Q4stzD9HZAlupxZ_8/edit?usp=drivesdk"
        },
        "name": "=Contrat de location_{{ $json.Nom }} {{ $json['Prénom'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1keNh6CvAHygbblljOxFAA-ArJi_poK8V",
          "mode": "list",
          "cachedResultName": "Contrat de location CLIENT",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1keNh6CvAHygbblljOxFAA-ArJi_poK8V"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        944,
        752
      ],
      "id": "2cdb3a59-7ce4-4f77-b33e-bcdeda48299d",
      "name": "Google Drive9",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sttD5xD3T79Hf4C3",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appon1LDVhe64l4sn",
          "mode": "list",
          "cachedResultName": "CRM_Gîte_Marida",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn"
        },
        "table": {
          "__rl": true,
          "value": "tblTl25vnyJjTgS3o",
          "mode": "list",
          "cachedResultName": "Contrat de location",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn/tblTl25vnyJjTgS3o"
        },
        "id": "={{ $json.query.record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        512,
        752
      ],
      "id": "b0d6d125-f96c-4549-9897-592b4fea3316",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "vdwxUJeIvv9voBeS",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appon1LDVhe64l4sn",
          "mode": "list",
          "cachedResultName": "CRM_Gîte_Marida",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn"
        },
        "table": {
          "__rl": true,
          "value": "tblTl25vnyJjTgS3o",
          "mode": "list",
          "cachedResultName": "Contrat de location",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn/tblTl25vnyJjTgS3o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contrat": "En cours...",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date début de location",
              "displayName": "Date début de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date fin de location",
              "displayName": "Date fin de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Loyer",
              "displayName": "Loyer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Acompte ",
              "displayName": "Acompte ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Taxe de séjour",
              "displayName": "Taxe de séjour",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ménage",
              "displayName": "Ménage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bain nordique",
              "displayName": "Bain nordique",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 160x200",
              "displayName": "Drap 160x200",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 90x190",
              "displayName": "Drap 90x190",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linge de toilette",
              "displayName": "Linge de toilette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour arrivé CGV",
              "displayName": "Jour arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure arrivé CGV",
              "displayName": "Heure arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "10h00",
                  "value": "10h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour départ CGV",
              "displayName": "Jour départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure départ CGV",
              "displayName": "Heure départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "10h00",
                  "value": "10h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Générer un contrat_",
              "displayName": "Générer un contrat_",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contrat",
              "displayName": "Contrat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Généré",
                  "value": "Généré"
                },
                {
                  "name": "En cours...",
                  "value": "En cours..."
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Envoyer contrat au client",
              "displayName": "Envoyer contrat au client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Mail au client",
              "displayName": "Mail au client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Envoyé",
                  "value": "Envoyé"
                },
                {
                  "name": "En cours...",
                  "value": "En cours..."
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        720,
        752
      ],
      "id": "4bf8723c-3fd3-4bd3-b143-b6b98bdeecfb",
      "name": "Airtable4",
      "credentials": {
        "airtableTokenApi": {
          "id": "vdwxUJeIvv9voBeS",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appon1LDVhe64l4sn",
          "mode": "list",
          "cachedResultName": "CRM_Gîte_Marida",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn"
        },
        "table": {
          "__rl": true,
          "value": "tblTl25vnyJjTgS3o",
          "mode": "list",
          "cachedResultName": "Contrat de location",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn/tblTl25vnyJjTgS3o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mail au client": "En cours...",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date début de location",
              "displayName": "Date début de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date fin de location",
              "displayName": "Date fin de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Loyer",
              "displayName": "Loyer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Acompte ",
              "displayName": "Acompte ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Taxe de séjour",
              "displayName": "Taxe de séjour",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ménage",
              "displayName": "Ménage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bain nordique",
              "displayName": "Bain nordique",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 160x200",
              "displayName": "Drap 160x200",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 90x190",
              "displayName": "Drap 90x190",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linge de toilette",
              "displayName": "Linge de toilette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour arrivé CGV",
              "displayName": "Jour arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure arrivé CGV",
              "displayName": "Heure arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "10h00",
                  "value": "10h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour départ CGV",
              "displayName": "Jour départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure départ CGV",
              "displayName": "Heure départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "10h00",
                  "value": "10h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Générer un contrat_",
              "displayName": "Générer un contrat_",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contrat",
              "displayName": "Contrat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Généré",
                  "value": "Généré"
                },
                {
                  "name": "En cours...",
                  "value": "En cours..."
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Envoyer contrat au client",
              "displayName": "Envoyer contrat au client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Mail au client",
              "displayName": "Mail au client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Envoyé",
                  "value": "Envoyé"
                },
                {
                  "name": "En cours...",
                  "value": "En cours..."
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        672,
        1200
      ],
      "id": "14d275fb-0713-4da2-b7d6-15fa7acfaffc",
      "name": "Airtable6",
      "credentials": {
        "airtableTokenApi": {
          "id": "vdwxUJeIvv9voBeS",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "location",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        432
      ],
      "id": "17e26883-a1d5-4ba1-ab64-404605f63a9a",
      "name": "Webhook4",
      "webhookId": "f7d60cc0-a43a-4efd-abda-43848dc2a5c4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const body = item.json.body;\n\n  const dateEntree = new Date(body.date_entree);\n  const dateSortie = new Date(body.date_sortie);\n\n  if (isNaN(dateEntree) || isNaN(dateSortie)) {\n    throw new Error(\"Date invalide détectée : \" + JSON.stringify(body));\n  }\n\n  dateEntree.setDate(dateEntree.getDate() + 1);\n  dateSortie.setDate(dateSortie.getDate() + 1);\n\n  body.date_entree = dateEntree.toISOString().split('T')[0];\n  body.date_sortie = dateSortie.toISOString().split('T')[0];\n\n  item.json.body = body;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        432
      ],
      "id": "68f1bc4f-09a5-489c-87ff-8777debbce4e",
      "name": "Formatage des dates2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appon1LDVhe64l4sn",
          "mode": "list",
          "cachedResultName": "CRM_Gîte_Marida",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn"
        },
        "table": {
          "__rl": true,
          "value": "tblTl25vnyJjTgS3o",
          "mode": "list",
          "cachedResultName": "Contrat de location",
          "cachedResultUrl": "https://airtable.com/appon1LDVhe64l4sn/tblTl25vnyJjTgS3o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Prénom": "={{ $json.body.prenom }}",
            "Téléphone": "={{ $json.body.telephone }}",
            "Date fin de location": "={{ $json.body.date_sortie }}",
            "Taxe de séjour": "1,32",
            "Ménage": "90",
            "Rue": "={{ $json.body.adresse }}",
            "Code postal": "={{ $json.body.code_postal }}",
            "Ville": "={{ $json.body.ville }}",
            "Date début de location": "={{ $json.body.date_entree }}",
            "Bain nordique": "={{ $json.body.bain }}",
            "Nom": "={{ $json.body.nom }}",
            "Mail": "={{ $json.body.email }}",
            "Drap 160x200": "={{ $json.body.drap_160 }}",
            "Drap 90x190": "={{ $json.body.drap_90 }}",
            "Linge de toilette": "={{ $json.body.linge_toilette }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rue",
              "displayName": "Rue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Code postal",
              "displayName": "Code postal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ville",
              "displayName": "Ville",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date début de location",
              "displayName": "Date début de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date fin de location",
              "displayName": "Date fin de location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Loyer",
              "displayName": "Loyer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Acompte ",
              "displayName": "Acompte ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Taxe de séjour",
              "displayName": "Taxe de séjour",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ménage",
              "displayName": "Ménage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bain nordique",
              "displayName": "Bain nordique",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 160x200",
              "displayName": "Drap 160x200",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drap 90x190",
              "displayName": "Drap 90x190",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linge de toilette",
              "displayName": "Linge de toilette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour arrivé CGV",
              "displayName": "Jour arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure arrivé CGV",
              "displayName": "Heure arrivé CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "11h00",
                  "value": "11h00"
                },
                {
                  "name": "14h00",
                  "value": "14h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jour départ CGV",
              "displayName": "Jour départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lundi",
                  "value": "Lundi"
                },
                {
                  "name": "Mardi",
                  "value": "Mardi"
                },
                {
                  "name": "Mercredi",
                  "value": "Mercredi"
                },
                {
                  "name": "Jeudi",
                  "value": "Jeudi"
                },
                {
                  "name": "Vendredi",
                  "value": "Vendredi"
                },
                {
                  "name": "Samedi",
                  "value": "Samedi"
                },
                {
                  "name": "Dimanche",
                  "value": "Dimanche"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Heure départ CGV",
              "displayName": "Heure départ CGV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "11h00",
                  "value": "11h00"
                },
                {
                  "name": "14h00",
                  "value": "14h00"
                },
                {
                  "name": "16h00",
                  "value": "16h00"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Générer un contrat_",
              "displayName": "Générer un contrat_",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Envoyer mail au client",
              "displayName": "Envoyer mail au client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Création du contrat",
              "displayName": "Création du contrat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Contrat généré",
                  "value": "Contrat généré"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Calendrier",
              "displayName": "Calendrier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Calendrier MAJ",
              "displayName": "Calendrier MAJ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SMS envoyé",
              "displayName": "SMS envoyé",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Facture",
              "displayName": "Facture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Facture 2",
              "displayName": "Facture 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Facture 3",
              "displayName": "Facture 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        720,
        432
      ],
      "id": "ec8f0e61-dc95-4564-968b-07b416acc770",
      "name": "Base de donnée2",
      "credentials": {
        "airtableTokenApi": {
          "id": "vdwxUJeIvv9voBeS",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "leclosdumarida@gmail.com",
        "subject": "👋 Hey ! Un contrat est prêt à être envoyé ! ",
        "message": "=Bonjour Valériane,<br>\n<br>\nUn nouveau locataire vient de renseigner ses informations via le formulaire en ligne.<br>\nLe contrat de location peut désormais être généré.<br>\n<br>\n<strong>📄 Détails du locataire :</strong><br>\n<strong>Nom :</strong> {{ $json.fields.Nom }}<br>\n<strong>Prénom :</strong> {{ $json.fields['Prénom'] }}<br>\n<strong>Dates du séjour :</strong> du {{ (() => {\n  const date = new Date($('Base de donnée2').all()[0].json.fields['Date début de location']);\n  return `${String(date.getDate()).padStart(2, '0')}-${String(date.getMonth() + 1).padStart(2, '0')}-${date.getFullYear()}`;\n})() }} au {{ (() => {\n  const date = new Date($('Base de donnée2').all()[0].json.fields['Date fin de location']);\n  return `${String(date.getDate()).padStart(2, '0')}-${String(date.getMonth() + 1).padStart(2, '0')}-${date.getFullYear()}`;\n})() }}.<br>\n<strong>Email :</strong> {{ $json.fields.Mail }}<br>\n<br>\nTu peux maintenant lancer la génération et l'envoi du contrat via le CRM.<br>\nN'hésite pas à vérifier les informations avant finalisation.<br>\n<br>\nBonne journée !<br>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        432
      ],
      "id": "a330f6dc-7df0-494b-9fb9-63f2636bfbdc",
      "name": "Gmail4",
      "webhookId": "7863f0ae-357e-4d25-b69e-fbb3843dc9f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "MZb02vfi8XmD5rkv",
          "name": "Gmail Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📋 Récupération de la data via formulaire du site web.\n*Le client remplit ses informations via le formulaire.* -> https://leclosdumarida.fr/reservation-sejour/",
        "height": 280,
        "width": 1160,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "a09ec9b0-a6a6-4e7a-bc09-ebe6b47528e1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<script>window.location.href = 'https://leclosdumarida.fr/merci/';</script>",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        288,
        432
      ],
      "id": "174068f0-f8e2-4177-b0b3-57c349960377",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "url": "=https://docs.google.com/document/d/{{ $json.documentId }}/export?format=pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        752
      ],
      "id": "c22c0cd8-42f5-4df9-a0ee-8aeaf3bd2f17",
      "name": "HTTP Request1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "kCvmGQr2K5qRbYbQ",
          "name": "Le Clos du Marida"
        }
      }
    },
    {
      "parameters": {
        "path": "f462b662-80d6-465b-9136-6f46109b0797",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1264,
        432
      ],
      "id": "558f062e-cdac-4a2d-9cc1-0edd67b4a419",
      "name": "Webhook3",
      "webhookId": "f462b662-80d6-465b-9136-6f46109b0797",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Airtable6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Airtable5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive6": {
      "main": [
        [
          {
            "node": "Google Drive7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Drive8": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive9": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Airtable4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable4": {
      "main": [
        [
          {
            "node": "Google Drive9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable6": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatage des dates2": {
      "main": [
        [
          {
            "node": "Base de donnée2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base de donnée2": {
      "main": [
        [
          {
            "node": "Gmail4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        [
          {
            "node": "Formatage des dates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f6f92e9-ba2a-45ff-b149-00b018128ba0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bdef93ad5963c6ba2e5b2b4d09dd7abc0752a724f365159907d3354e8c0f5124"
  },
  "id": "G3dfl36wbERXTDly",
  "tags": []
}